 <footer> <!-- Start footer -->
   <p class="footermovie">JOIN THE NEWSLETTER <span class="glyphicon glyphicon-envelope" aria hidden="true"></span>
    <br>
   <%= link_to "About", about_path %> |
  </footer><!-- Finish footer -->