<header class="headermovie"><!-- Start header -->
    <div class="login1">
      <%=link_to "Sign up", new_user_registration_path %> |
      <%=link_to "Login", new_user_session_path %> |
    </div>
      <ul class="headertxt">
          <li><a href="#news">MOVIES & DVDS</a></li>
          <li><a href="#news">TV</a></li>
          <li><a href="#news">NEWS</a></li>
          <li><a href="#about">TICKETS & SHOWTIMES</a></li>
      </ul>
<div class="navbar1">
      <input class="navbar1 navbar2" type="text" name="search" placeholder="Search..">
    </div>
    <img class="imglogo" src="http://www.flixist.com/ul/220739-sad-nerds-start-petition-to-shut-down-rotten-tomatoes-over-bad-suicide-squad-reviews/killer-tomatoes-noscale.jpg">
    <h1 class="tomato">TOMATES PODRIDOS</h1>
  </header><!-- Finish header -->

  